* {
    box-sizing:border-box;
}

body {
    background-color:rgb(32, 117, 186);
    color:aqua;
}

#game-container{
    display:flex;
    flex-direction:column;

    justify-content:center;
    background-color:rgb(26, 79, 123);
    border:10px double black;
    border-radius:15px;
    height:328px;
    margin-left:22%;
    margin-right:22%;
    /* border:2px solid black; */
    /* align-items:center; */
}

#start{
    margin-top:100px;
    margin-bottom:100px;
    margin-left:auto;
    margin-right:auto;
    Width:250px;
    Height:100px;
    border-radius:20px;
    color:aqua;
    background-color:rgb(32,117,186);

}


#playerscore, #rounds, #computerscore{
    font-size:40px;
}

#allbuttonscontainer{
    border:5px double black;
    background-color:rgb(11, 45, 73)
}
#game-buttons {
    display:flex;
    justify-content:space-around;
    margin-top:5px;
}

#action-boxes{
    display:flex;
    justify-content:space-between;

}

#youchose, #aichose{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border:2px solid black;
    padding:10px;
    height:50px;
    width:170px;
}

#result{
    text-align:center;
    padding-top:15px;
    padding-bottom:15px;
    font-size:50px;
    height: 100px;
}

#playerscore-box, #rounds-box, #computerscore-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:64px;
    width:130px;
    border:3px solid black;
}

#score-boxes{
    display:flex;
    justify-content:space-between;
}

#stats {
    display:flex;
    flex-direction:column;
    justify-content:center;
    
    /* align-items:center; */
}

#control-buttons {
    display:flex;
    justify-content:space-between;
    margin:5px;
  
}
    #reset, #autoplay, #showhistory {
        color:aqua;
        background-color:rgb(32, 117, 186);
        width:140px;
        height:30px;
        border:2px solid black;
        border-radius:5px;
    }

    #rock, #paper, #scissors{
        color:aqua;
        background-color:rgb(32,117,186);
        width:133px;
        height:40px;
        border:2px solid black;
        border-radius: 5px;
    }



#menu-container{
    display:none;
    flex-direction:column;
}

#roundsprompt{
    display:none;
}

#table{
    margin-left:auto;
    margin-right:auto;
    border:1px solid;
    display:none;
    
}

td {
    margin-left:auto;
    margin-right:auto;
    border:1px solid;
    text-align:center;
}

#roundsprompt{
    margin-left:auto;
    margin-right:auto;
}

#table{
    flex-direction:column;
    justify-content:center;
    align-content:center;
}
