

#menu-container{
    display:none;
}

#roundsprompt{
    display:none;
}

#table{
    margin-left:auto;
    margin-right:auto;
    border:1px solid;
    display:none;
    
}

td {
    margin-left:auto;
    margin-right:auto;
    border:1px solid;
    text-align:center;
}
