#game-container{
    display:flex;
    flex-direction:column;
    border:2px solid black;
    /* align-items:center; */
}


#playerscore, #rounds, #computerscore{
    font-size:40px;
}

#game-buttons {
    display:flex;
    justify-content:space-around;
    border:2px solid green;
}

#action-boxes{
    display:flex;
    justify-content:space-between;
    border:2px solid black;
}

#youchose, #aichose{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    border:3px dotted black;
    height:40px;
    width:150px;
}

#result{
    margin-left:auto;
    margin-right:auto;
    padding-top:15px;
    padding-bottom:15px;
    font-size:50px;
}

#playerscore-box, #rounds-box, #computerscore-box{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    height:64px;
    width:110px;
    border:3px solid black;
}

#score-boxes{
    display:flex;
    justify-content:space-between;
    border:3px dotted orange;
}

#stats {
    display:flex;
    flex-direction:column;
    justify-content:center;
    /* align-items:center; */
    border:2px double pink;
}

#control-buttons {
    display:flex;
    justify-content:space-between;
    border:2px solid red;
}



#menu-container{
    display:none;
    flex-direction:column;
}

#roundsprompt{
    display:none;
}

#table{
    margin-left:auto;
    margin-right:auto;
    border:1px solid;
    display:none;
    
}

td {
    margin-left:auto;
    margin-right:auto;
    border:1px solid;
    text-align:center;
}
